@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content:"";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom:1;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

body {
    background: rgba(255, 255, 255,.3);
    color:#333;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    max-width: 1920px;
    margin: 0px auto;
    padding: 40px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 600px 250px 25% 25% 450px 450px;
    grid-template-areas: 
    "header header header"
    "p5-classify p5-classify p5-classify"
    "p5-work1 p5-work2 p5-work3"
    "p5-work4 p5-work5 p5-work6"
    "author author author"
    "footer footer footer";
    grid-gap: 2%;
}

header{
    padding: 10px 20px;
    grid-area: header;
    background-color: rgba(255, 255, 255, .5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:
    "nav nav"
    "intro side-bg";
    grid-gap: 2%;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

header .nav {
    grid-area: nav;
    /* background-color: rgb(158, 158, 158); */
}

header .nav ul {
    display: flex;
    align-items: center;
    justify-content: left;
    list-style-type: none;
}

header .nav li {
    /* background-color: #ccc; */
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    color:#3a3f5e;
    background-image: url("img/Grad-Btn-2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition:ease 0.3s all;
}

header .nav li:hover {
    background-image: url("img/Grad-Btn-1_1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

header .nav ul .logo {
    width: 34px;
    height: 32px;
    align-items: center;
}

header .intro {
    grid-area: intro;
    /* background-color: rgb(158, 158, 158); */
}

header .intro .header-title {
    margin-top:40px;
	padding:20px;
	margin-left:30px;
}

header .intro .header-title > h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 7px;
	font-weight: 600;
	font-size:50px;
	line-height:50px;
	padding-left:5px;
	margin-top:-21px;
	margin-bottom:-20px;
	color:#3a3f5e;
}

header .intro .header-title > h5 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
	font-weight: 600;
	font-size:14px;
	line-height:16px;
	padding-left:10px;
	margin-top:20px;
	margin-bottom:-24px;
	color:#3a3f5e;
}

header .intro .header-para {
    padding:18px;
	margin-top:20px;
	margin-left:40px;
    color:#3a3f5e;
}

header .intro .header-para p {
    margin-left: 5px;
}

header .intro .header-para .header-btn {
    margin-top:40px;
	width:160px;
	height:46px;
	background-image: url("img/Grad-Main-Btn-1_1.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transition:ease 0.3s all;
	-webkit-transition:ease 0.3s all;
	-o-transition:ease 0.3s all;
	cursor: pointer;
    /* background-color: #ccc; */
}

header .intro .header-para .header-btn:hover {
    background-image: url("img/Grad-Main-Btn-2.png");
}

header .side-bg {
    grid-area: side-bg;
    background-image: url('img/p5-alt-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
	background-size: 80%;
    opacity: .7;
    /* background-color: rgb(158, 158, 158); */
}

.p5-classify {
    grid-area: p5-classify;
    /* background-color: rgb(87, 87, 87); */
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
}

.p5-classify > a {
    display: block;
    /* background-color: rgba(255, 255, 255, .5); */
    width: 22.5%;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    opacity: .85;
    transition: all 0.5s ease;
}

.p5-classify > .p5-basic:hover {
    background-image: url(img/SVG/p5-basic2.svg);
    background-repeat: no-repeat;
    background-position: center center;
	/* background-size: cover; */
    cursor: pointer;
    transform: translatey(-5px);
    box-shadow: 0 25px 35px rgba(0,0,0,.4);
}

.p5-classify > .p5-particle:hover {
    background-image: url(img/SVG/p5-particle.svg);
    background-repeat: no-repeat;
    background-position: center center;
	/* background-size: cover; */
    cursor: pointer;
    transform: translatey(-5px);
    box-shadow: 0 25px 35px rgba(0,0,0,.4);
}

.p5-classify > .p5-ml:hover {
    background-image: url(img/SVG/p5-ml.svg);
    background-repeat: no-repeat;
    background-position: center center;
	/* background-size: cover; */
    cursor: pointer;
    transform: translatey(-5px);
    box-shadow: 0 25px 35px rgba(0,0,0,.4);
}

.p5-classify > .p5-article:hover {
    background-image: url(img/SVG/p5-blog.svg);
    background-repeat: no-repeat;
    background-position: center center;
	/* background-size: cover; */
    cursor: pointer;
    transform: translatey(-5px);
    box-shadow: 0 25px 35px rgba(0,0,0,.4);
}

.p5-classify > .p5-basic {
    margin-right: 40px;
    background-image: url(img/SVG/p5-basic.svg);
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
}

.p5-classify > .p5-particle {
    margin-right: 40px;
    background-image: url(img/SVG/p5-particle2.svg);
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
}

.p5-classify > .p5-ml {
    margin-right: 40px;
    background-image: url(img/SVG/p5-ml2.svg);
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
}

.p5-classify > .p5-article {
    background-image: url(img/SVG/p5-blog2.svg);
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
}

.author {
    grid-area: author;
    background-color: rgba(255, 255, 255 , .5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "author-img author-intro";
    grid-gap: 0%;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

.author .author-img {
    grid-area: author-img;
    background-image: url('img/basic-intro.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-color: rgb(158, 158, 158); */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: .75;
}

.author .author-intro {
    grid-area: author-intro;
    margin: 20px;
}

.author .author-intro h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 7px;
	font-weight: 600;
	font-size:50px;
	line-height:50px;
	padding-left: 18px;
	margin-top:20px;
    margin-left: 40px;
	color:#3a3f5e;
}

.author .author-intro h5 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
	font-weight: 600;
	font-size:14px;
	line-height:16px;
    padding-left:18px;
	margin-top:10px;
    margin-left: 40px;
	margin-bottom:14px;
	color:#3a3f5e;
}

.author .author-intro p {
    padding:18px;
	margin-left:40px;
    color:#3a3f5e;
}

.work-img {
    display: block;
    width: 100%;
    height: 70%;
    /* background-color: rgb(158, 158, 158); */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.work-title {
    display: block;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
	font-weight: 600;
	font-size:2.25rem;
	line-height:16px;
    padding-top: 15%;
    padding-left: 10%;
    padding-bottom: 5px;
    color:#3a3f5e;
    background-image: url("img/Grad-Btn-2.png");
	background-repeat: repeat;
	background-size:cover;
	background-position: center center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition:ease 0.3s all;
}

.work-title:hover {
    background-image: url("img/Grad-Btn-1_1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.work-catag {
    display: block;
    font-family: 'Bebas Neue', cursive;
	font-size:1rem;
	line-height:16px;
    padding-top: 5%;
    padding-left: 10%;
    color:#3a3f5e;
    background-image: url("img/Grad-Btn-2.png");
	background-repeat: repeat;
	background-size:cover;
	background-position: center center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition:ease 0.3s all;
}

.work-catag:hover {
    background-image: url("img/Grad-Btn-1_1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.p5-work1 {
    grid-area: p5-work1;
    background-color: rgba(255, 255, 255 , .5);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transition: .15s ease-in;
}
.p5-work1:hover , .p5-work2:hover , .p5-work3:hover , .p5-work4:hover , .p5-work5:hover , .p5-work6:hover{
    transform: translatey(-5px);
    box-shadow: 0 25px 35px rgba(0,0,0,.4);

}

.p5-work1 .work-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: .80;
}

.p5-work2 {
    grid-area: p5-work2;
    background-color: rgba(255, 255, 255 , .5);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transition: .15s ease-in;
}

.p5-work2 .work-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: .80;
}

.p5-work3 {
    grid-area: p5-work3;
    background-color: rgba(255, 255, 255 , .5);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transition: .15s ease-in;
}

.p5-work3 .work-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: .80;
}

.p5-work4 {
    grid-area: p5-work4;
    background-color: rgba(255, 255, 255 , .5);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transition: .15s ease-in;
}

.p5-work4 .work-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: .80;
}

.p5-work5 {
    grid-area: p5-work5;
    background-color: rgba(255, 255, 255 , .5);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transition: .15s ease-in;
}

.p5-work5 .work-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: .80;
}

.p5-work6 {
    grid-area: p5-work6;
    background-color: rgba(255, 255, 255 , .5);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transition: .15s ease-in;
}

.p5-work6 .work-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: .80;
}

footer {
    grid-area: footer;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    /* background-color: rgb(87, 87, 87); */
    margin-bottom: 40px;
}

footer iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: .7;
    transition: .15s ease-in;
}

footer iframe:hover {
    transform: translatey(-5px);
    box-shadow: 0 25px 35px rgba(0,0,0,.4);
}

@media only screen and (max-width: 1400px){
    .author {
        grid-area: author;
        /* background-color: rgb(87, 87, 87); */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "author-intro";
        grid-gap: 0%;
    }
    
    .author .author-img {
        grid-area: author-img;
        background-color: rgb(158, 158, 158);
    }
    
    .author .author-intro {
        grid-area: author-intro;
        margin: 20px;
    }
}

@media only screen and (max-width: 900px) {
    header{
        padding: 10px 20px;
        grid-area: header;
        /* background-color: rgb(87, 87, 87); */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 6fr;
        grid-template-areas:
        "nav nav"
        "intro intro";
        grid-gap: 2%;
    }
}

@media only screen and (max-width: 750px) and (min-width:520px) {
    .container {
        margin: 0px auto;
        padding: 24px 4%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 650px 400px 15% 15% 15% 15% 15% 15% 420px 300px;
        grid-template-areas: 
        "header"
        "p5-classify"
        "p5-work1"
        "p5-work2"
        "p5-work3"
        "p5-work4"
        "p5-work5"
        "p5-work6"
        "author"
        "footer";
    }

    .author .author-intro h1 {
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 7px;
        font-weight: 600;
        font-size:30px;
        line-height:50px;
        padding-left: 18px;
        margin-top:15px;
        margin-left: 40px;
        color:#3a3f5e;
    }
    
    .author .author-intro h5 {
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
        font-weight: 600;
        font-size:15px;
        line-height:16px;
        padding-left:18px;
        margin-top:5px;
        margin-left: 40px;
        margin-bottom:0px;
        color:#3a3f5e;
    }
    
    .author .author-intro p {
        font-size: 15px;
        padding:18px;
        margin-left:40px;
        color:#3a3f5e;
    }
    
    .work-title {
        display: block;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
        font-weight: 600;
        font-size:2.25rem;
        line-height:16px;
        padding-top: 30px;
        padding-left: 10%;
        color:#3a3f5e;
    }
    
    .work-catag {
        display: block;
        font-family: 'Bebas Neue', cursive;
        font-size:1rem;
        line-height:16px;
        padding-top: 15px;
        padding-left: 10%;
        color:#3a3f5e;
    }

    .p5-classify {
        display: flex;
        flex-flow: row wrap;
        justify-content:center;
    }

    .p5-classify > a {
        width: 220px;
        height: 190px;
    }

    .p5-classify > .p5-basic {
        margin-right: 40px;
        margin-bottom: 20px;
    }
    
    .p5-classify > .p5-particle {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    
    .p5-classify > .p5-ml {
        margin-right: 40px;
    }
}

@media only screen and (max-width: 520px) and (min-width: 376px) {
    .container {
        margin: 0px auto;
        padding: 24px 4%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 650px 400px 15% 15% 15% 15% 15% 15% 450px 300px;
        grid-template-areas: 
        "header"
        "p5-classify"
        "p5-work1"
        "p5-work2"
        "p5-work3"
        "p5-work4"
        "p5-work5"
        "p5-work6"
        "author"
        "footer";
    }

    header .nav ul {
        display: flex;
        align-items: center;
        justify-content: left;
        list-style-type: none;
    }
    
    header .nav li {
        background-color: #ccc;
        margin-left: 1rem;
        margin-top: 2.5rem;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.5rem;
        color:#3a3f5e;
    }

    .author .author-intro h1 {
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 7px;
        font-weight: 600;
        font-size:30px;
        line-height:50px;
        padding-left: 0px;
        margin-top:15px;
        margin-left: 20px;
        color:#3a3f5e;
    }
    
    .author .author-intro h5 {
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
        font-weight: 600;
        font-size:15px;
        line-height:16px;
        padding-left:0px;
        margin-top:5px;
        margin-left: 20px;
        margin-bottom:0px;
        color:#3a3f5e;
    }
    
    .author .author-intro p {
        font-size: 14px;
        padding:0px;
        margin-left:20px;
        color:#3a3f5e;
    }

    .work-title {
        display: block;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
        font-weight: 600;
        font-size:2.25rem;
        line-height:16px;
        padding-top: 30px;
        padding-left: 10%;
        color:#3a3f5e;
    }
    
    .work-catag {
        display: block;
        font-family: 'Bebas Neue', cursive;
        font-size:1rem;
        line-height:16px;
        padding-top: 15px;
        padding-left: 10%;
        color:#3a3f5e;
    }

    .p5-classify {
        display: flex;
        flex-flow: row wrap;
        justify-content:center;
    }

    .p5-classify > a {
        width: 160px;
        height: 190px;
    }

    .p5-classify > .p5-basic {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    .p5-classify > .p5-particle {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    
    .p5-classify > .p5-ml {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 376px) {
    .container {
        margin: 0px auto;
        padding: 24px 4%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 650px 400px 15% 15% 15% 15% 15% 15% 500px 300px;
        grid-template-areas: 
        "header"
        "p5-classify"
        "p5-work1"
        "p5-work2"
        "p5-work3"
        "p5-work4"
        "p5-work5"
        "p5-work6"
        "author"
        "footer";
    }

    header .nav li {
        background-color: #ccc;
        margin-left: 1rem;
        margin-top: 2.5rem;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 1rem;
        color:#3a3f5e;
    }

    .author .author-intro h1 {
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 7px;
        font-weight: 600;
        font-size:30px;
        line-height:50px;
        padding-left: 0px;
        margin-top:15px;
        margin-left: 20px;
        color:#3a3f5e;
    }
    
    .author .author-intro h5 {
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
        font-weight: 600;
        font-size:15px;
        line-height:16px;
        padding-left:0px;
        margin-top:5px;
        margin-left: 20px;
        margin-bottom:0px;
        color:#3a3f5e;
    }
    
    .author .author-intro p {
        font-size: 14px;
        padding:0px;
        margin-left:20px;
        color:#3a3f5e;
    }

    .p5-classify {
        display: flex;
        flex-flow: column wrap;
        justify-content:center;
    }

    .p5-classify > a {
        display: block;
        width: 370px;
        height: 90px;
    }

    .p5-classify > .p5-basic {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    .p5-classify > .p5-particle {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    .p5-classify > .p5-ml {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .work-title {
        display: block;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
        font-weight: 600;
        font-size:2.25rem;
        line-height:16px;
        padding-top: 30px;
        padding-left: 10%;
        color:#3a3f5e;
    }
    
    .work-catag {
        display: block;
        font-family: 'Bebas Neue', cursive;
        font-size:1rem;
        line-height:16px;
        padding-top: 10px;
        padding-left: 10%;
        color:#3a3f5e;
    }
}